.footer {
    &__rsLogo {
        height: 30px; 
        margin-left: 2vh; 
    }
    
    &__copyright {
        font-family: Arial, Helvetica, sans-serif; 
        color: white; 
        font-weight: bold;  
    }
}