// Style Guide Colors 

$light-grey: #F0F0F0; 
$dark-grey: #343D4B; 
$taupe: #BCAAA4; 
$light-blue: #99D6CC;
$gradient-blue: linear-gradient(to right, #33A7CE , #73C9D0);
$violet: #898CB6; 
$orange-brick: #E4773D; 